.SideDrawer{
    top: 0;
    left: 0;
    padding: 20px 16px;
    position: fixed;
    background-color: white;
    width: 280px;
    max-width: 70%;
    z-index: 200;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.3ms ease-out;

}

@media(min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

/*Here also we can use logo.css file to maintain as our need. We do not need to
define another Logo.module.css file for this. The file made once work for this also*/
.Logo{
    height: 10%;
}